In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/alexanderries/Library/Mobile Documents/com~apple~CloudDocs/03_CBS/02_Semester 2/03_NLP/98_Assignments/GenrefromLyrics/data/ds2.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5913411 entries, 0 to 5913410
Data columns (total 8 columns):
 #   Column    Dtype
---  ------    -----
 0   title     object
 1   tag       object
 2   artist    object
 3   year      int64
 4   views     int64
 5   features  object
 6   lyrics    object
 7   id        int64
dtypes: int64(3), object(5)
memory usage: 360.9+ MB

In [6]:
df.head()

,title,tag,artist,year,views,features,lyrics,id
0,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}","[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1
1,Can I Live,rap,JAY-Z,1996,468624,{},"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",3
2,Forgive Me Father,rap,Fabolous,2003,4743,{},Maybe cause I'm eatin\nAnd these bastards fien...,4
3,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}",[Produced by Kanye West and Brian Miller]\n\n[...,5
4,Fly In,rap,Lil Wayne,2005,78271,{},"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6

In [8]:
df.drop(columns=['views', 'features'], inplace=True)

In [9]:
df.head()

,title,tag,artist,year,lyrics,id
0,Killa Cam,rap,Cam'ron,2004,"[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1
1,Can I Live,rap,JAY-Z,1996,"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",3
2,Forgive Me Father,rap,Fabolous,2003,Maybe cause I'm eatin\nAnd these bastards fien...,4
3,Down and Out,rap,Cam'ron,2004,[Produced by Kanye West and Brian Miller]\n\n[...,5
4,Fly In,rap,Lil Wayne,2005,"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6

In [10]:
#value counts for tag
df['tag'].value_counts()

pop        2519256
rap        1962010
rock        892220
rb          225342
misc        208714
country     105869
Name: tag, dtype: int64

In [11]:
# drop tag "misc" from df
df = df[df.tag != 'misc']

In [12]:
#create columns with length of lyrics
df['length'] = df['lyrics'].str.len()

/var/folders/bx/yqrc6c_d2z34yz6mbn3s8b980000gn/T/ipykernel_26548/636223418.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['length'] = df['lyrics'].str.len()

In [24]:
#value counts for tag
df['tag'].value_counts()

pop        2519115
rap        1961430
rock        892189
rb          225289
country     105867
Name: tag, dtype: int64

In [25]:
#length of df
len(df)

5703890

In [16]:
#unique tag value
df['tag'].unique()

array(['rap', 'rb', 'rock', 'pop', 'country'], dtype=object)

In [23]:
#show nan values in df
df[df.isna().any(axis=1)]

,title,tag,artist,year,lyrics,id,length
76619,NaN,rap,Rac (Rapper),2012,"Then they say, ""When you get it you'll have al...",82278,70.0
98075,NaN,rap,Adrian De Santiago,2012,None,105819,4.0
98857,NaN,rock,Touch Amor,2011,I'm parting the sea between brightness and me\...,106734,546.0
191573,NaN,rap,Cymek,2013,[VERSE 1]\nChcesz mnie pokonać? uważaj z kim t...,204824,1783.0
197730,NaN,rap,Mychelle Lee,2013,We'll be back,211373,13.0
...,...,...,...,...,...,...,...
5874542,NaN,pop,St. Lucia,2022,[Instrumental],7831036,14.0
5883272,NaN,pop,Arrezzia Menendez,2020,"[Lletra de ""+=""]\n\nJa em va bé si avui s’acab...",7842403,924.0
5886958,NaN,rap,Baby Gang,2022,[Da riempire],7847515,13.0
5891342,NaN,rap,Emoney X JC,2022,[Instrumental],7853394,14.0
5900188,NaN,pop,Haarshaan . n,2022,(If only)\nIf only somewhere in your fantasies...,7865057,157.0

In [26]:
#drop nan values in columns lyrics and tag
df.dropna(subset=['lyrics', 'tag'], inplace=True)

In [27]:
len(df)

5703890